.row{
    margin:10px;
    align-content:center
}

body{
    background-color: rgb(242,242,242);;
    background-repeat: no-repeat;
    /*background-image: url('https://c0.wallpaperflare.com/preview/784/813/77/white-and-orange-basketball-backboard-and-hoop-during-daytime.jpg');*/
    background-size: cover;
    background-position: center;
}

#learn-button {
    background-color: cornflowerblue;
    font-size: large;
    color: white;
    font-weight: bold;
}

#quiz-button {
    background-color: orangered;
    font-size: large;
    color: white;
}

#intro {
    font-size: large;
    margin-bottom: 100px;
    color: black;
}

#keyWord {
    font-size: larger;
    font-weight: bolder;
}