.row{
    margin:10px;
    align-content:center
}
body{
    background-repeat: no-repeat;
    background-image: url('https://wallpaperaccess.com/full/139513.jpg');
    background-size: contain
     }
#learn-button {
    background-color: cornflowerblue;
    font-size: large;
    color: white;
    font-weight: bold;
}

#quiz-button {
    background-color: orangered;
    font-size: large;
    color: white;
}

#intro {
    font-size: large;
    margin-bottom: 100px;
    color:white
}

#keyWord {
    font-size: larger;
    font-weight: bolder;
}