/* body {
    background-color: rgb(242,242,242);
}

#video{
    margin:5%;
    margin-bottom:20px;
    margin-right:20px;
}

.images{
    padding:10px;
    padding-top:0px
}
#position-text{
    font-size: 20px;
    text-align: justify;
}
.move-btn{
    background-color: cornflowerblue;
}

#directQuiz {
    background-color: orangered;
    color:white
}
#prev{
    background-color: rgb(0,63,140);
    color:white
}
#next{
    background-color: rgb(0,63,140);
    color:white
}

.progress-bar{
    background-color: orangered;
}
.image-card{
    transition: box-shadow 0.2s ease-out 1ms;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.image-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} */


/* New layout css */
body {
    background-color: rgb(242,242,242);
}
#directQuiz {
    background-color: orangered;
    color:white
}
#directQuiz:hover {
    background-color: #cc3700;
}

.learn_page_container {
  width: 1000px;
  margin: 30px auto;
  padding: 20px 50px;
}

.learn_card {
  border:1px solid #f5f5f5;
  border-radius: 4px;
  align-items: center;
  background-color: white;
  transition: box-shadow 0.2s ease-out 1ms;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.learn_card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.learn_title {
  text-align: left;
  font-size: 3rem;
  font-weight: 400;
}

.learn_sub_title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 5px;
}

hr {
  border-top: 3px solid #bbb;
  border-radius: 3px;
}

#source {
  margin:0 auto;
  display:block;
}

.row {
  align-items: center;
}

.navigation {
  width: fit-content;
  margin: 0 auto;
}
