#video{
    margin:5%;
    margin-bottom:20px;
    margin-right:20px;
    
}
.images{
    padding:10px;
    padding-top:0px
}
#position-text{
    font-size: 20px;
    text-align: justify;
}
 .move-btn{
    background-color: cornflowerblue;
}

#directQuiz {
    background-color: orangered;
}