.last_quiz_container {
    position: relative;
}

.pos {
    height: 40px;
    width: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightblue;
}

#pos-sg{
    position: absolute;
    top: 40px;
    left: 140px;
}

#pos-pf{
    position: absolute;
    top: 110px;
    left: 90px;
}

#pos-pg{
    position: absolute;
    top: 140px;
    left: 175px;
}

#pos-c{
    position: absolute;
    top: 155px;
    left: 50px;
}

#pos-sf{
    position: absolute;
    top: 220px;
    left: 80px;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.choice{
    border: 1px solid grey;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.red {
    color: red;
}

.green {
    color: green;
}