{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='quiz_last.css')}}">
<script>
    let qid = {{qid|tojson}};
    let usr_choice = {{usr_choice|tojson}}
</script>
<script src="{{url_for('static', filename='quiz_last.js')}}"></script>

<div class="last_quiz_container">
    <!-- <div class="row mt-1 mb-1">
        <div class="col-md-12"><span class="h4">Drag different positions to correct boxes on court</span></div>
    </div> -->
    <div class="quiz-title h4 darkgrey">
      Drag different positions to correct boxes on court
    </div>
    <div class="row" style="align-items:center;">
        <!-- <div class="col-xl-5 col-lg-7 col-md-8 col-sm-10"> -->
        <div class="col-md-9">
            <img src="https://i.ibb.co/p1Fm6jt/basketball-court.png" alt="basketball-court" border="0" class="inline-block" />
            <div class="pos" id="pos-sg" data-pos="SG"></div>
            <div class="pos" id="pos-pf" data-pos="PF"></div>
            <div class="pos" id="pos-pg" data-pos="PG"></div>
            <div class="pos" id="pos-c" data-pos="C"></div>
            <div class="pos" id="pos-sf" data-pos="SF"></div>
        </div>
        <!-- <div id="post" class="col-xl-1 col-lg-1 col-md-1 col-sm-1 inline-block"> -->
        <div id="post" class="col-md-2 inline-block">
            <div class="choice btn btn-dark" data-choice="PG">PG</div>
            <div class="choice btn btn-dark" data-choice="SG">SG</div>
            <div class="choice btn btn-dark" data-choice="SF">SF</div>
            <div class="choice btn btn-dark" data-choice="PF">PF</div>
            <div class="choice btn btn-dark" data-choice="C">C</div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <div id="hint-text" class="mt-2 quiz_card display-none"></div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="last_navigation">
            <a id="reset_button" href="/quiz/5" class="btn btn-primary mr-3">Reset</a>
            <a id="prev_button" href="/quiz/{{ qid|int-1 if qid|int-1>=0 else ''}}" class="btn btn-primary mr-3">Prev</a>
            <a id="next_button" href="/quiz/score" class="btn btn-primary mr-3">Submit</a>
        </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div id="hint-text" class="mt-2 quiz_card display-none darkgrey"></div>
        <div class="last_navigation">
            <a id="reset_button" href="/quiz/5" class="btn btn-primary mr-3">Reset</a>
            <a id="prev_button" href="/quiz/{{ qid|int-1 if qid|int-1>=0 else ''}}" class="btn btn-primary mr-3">Prev</a>
            <a id="next_button" href="/quiz/score" class="btn btn-primary mr-3">Submit</a>
        </div>
      </div>
    </div>

</div>

{% endblock %}
