<!-- HTML template -->
{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='quiz.css')}}">
<script>
    let qid = {{qid|tojson}}
    let usr_choice = {{usr_choice|tojson}}
    let quiz_data = {{quiz_data|tojson}}
</script>
<script src="{{url_for('static', filename='quiz.js')}}"></script>

<div class="page_container">
    <!--  Media  -->
    <div class="row">
        <div class="col-md-4">
            <iframe width="100%" height="300px"
                    src="{{quiz_data.video}}">
            </iframe>
        </div>
        <div class="col-md-4">
            <img src="{{quiz_data.courtMoveMap}}">
        </div>
    </div>
    <!--  MCQ  -->
    <div class="row">
        <div class="col-md-2">
            Select the position:
            {% for option in quiz_data.options %}
            <div class="quiz-options" value="{{option}}">
                {{option}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill display-none correct-svg" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle-fill display-none wrong-svg" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                </svg>
            </div>
            {% endfor %}

            <a id="prev_button" href="/quiz/{{ qid|int-1 if qid|int-1>=0 else ''}}" class="btn btn-primary">Prev</a>
            <a id="next_button" href="/quiz/{{ qid|int+1 if qid|int+1<usr_choice|length else 'score'}}" class="btn btn-primary">Next</a>
        </div>
        <div class="col-md-2">
            <div class="quiz-explain display-none">
                {{quiz_data.description}}
            </div>
        </div>
    </div>

<!--    <br><br>-->
<!--    Dev log: <br>-->
<!--    Qid:{{qid}} <br>-->
<!--    User choice:{{usr_choice}} <br>-->


</div>

{% endblock %}
